* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    margin:2%;
    
}

.container{
    overflow:hidden;
    width:860px;
}
.box1{
    
    height:15%;
    position: absolute;
    background:#FC7070;
    /*margin-bottom:2%;*/
    color:#FC7070;
    text-align: center;
}
#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9,#s10,#s11,#s12,#s13,#s14,#s15,#s16{
    text-align: center;
    margin: 20px;
    font-size: 5em;
    visibility: hidden;
}
.box2{
   
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-left: 18%;
    color:#FC7070;
}
.box3{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-left: 36%;
    color:#FC7070;
}
.box4{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-left: 54%;
    color:#FC7070;
}
.box5{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 10%;
    color:#FC7070;
}
.box6{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 10%;
    margin-left: 18%;
    color:#FC7070;
}
.box7{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 10%;
    margin-left: 36%;
    color:#FC7070;
}
.box8{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 10%;
    margin-left: 54%;
    color:#FC7070;
}
.box9{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 20%;
    color:#FC7070;
}
.box10{
    
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 20%;
    margin-left: 18%;
    color:#FC7070;
}
.box11{
     
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 20%;
    margin-left: 36%;
    color:#FC7070;
}
.box12{
      
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 20%;
    margin-left: 54%;
    color:#FC7070;
}
.box13{
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 30%;
    color:#FC7070;
    
}
.box14{
    height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 30%;
    margin-left: 18%;
    color:#FC7070;
}
.box15{
     height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 30%;
    margin-left: 36%;
    color:#FC7070;
}
.box16{
     height:15%;
    position: absolute;
    background-color:#FC7070;
     /*margin-bottom:2%;*/
    margin-top: 30%;
    margin-left: 54%;
    color:#FC7070;
}
