/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */







/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
body{ 
  
  background:#fff;
}

#tedx{
  font-size: 6em;
  color: #fff;
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
}

.home{
  margin-left: 15%;
  margin-top: 3%;
}

#box{
  background-color: #fff;
  display: inline-block;
  position: absolute;
  margin-top: 3%;
  height:2.5em;
  width:0.25em;
}
.button {
    background-color: #e62b1e;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.button:hover{
  background-color: #fff;
  color: #e62b1e;
}





/* ---- stats.js ---- */




/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #e62b1e;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
